<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="images/faviconshoe.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Shoemall | Single Product</title>
</head>
<body>

    <nav class="nav product-nav">
        <img class="nav__logo" src="./images/logo.png" alt="logo-img"/>
        <div class="nav__option">
            <div class="nav__short">
                <i class="fas fa-bars"></i>
            </div>
            <ul>
                <li><a href="../index.html"><button class="nav__option-login"><i class="fas fa-door-open"></i> Logout</button></a></li>
                <li><a href="wishlist.html"><p><i class="fas fa-heart"></i> Wishlist</p></a></li>
                <li><a href="cart.html"><p><i class="fas fa-shopping-cart"></i> Cart</a></p>
                </li>
            </ul>
        </div>
    </nav>


    <div class="singleproduct">
        
        <div class="singleproduct__image">
            <img src="images/product4.png" alt="single-product"/>
        </div>

        <div class="singleproduct__info">
            <h1>Nike Airmax - 9000</h1>
            <h2>₹ 6000</h2>
            <p>The Nike Downshifter 11 gives you lightweight, flexible support to keep you going. It continues
                 the same soft cushioning from the last version and adds more support around the midfoot to make it comfortable to wear long after your workout.</p>
            <div class="product__quantity">
                <button>+</button>
                <input type="text" value="1" disabled />
                <button>-</button>
            </div>
            <div class="singleproduct__size">
                <button>XS</button>
                <button>S</button>
                <button>M</button>
                <button>L</button>
                <button>XL</button>
            </div>
            <div class="singleproduct__button">
                <a>Add to cart</a>
                <a>Move to wishlist</a>
            </div>
            <button class="share__button"><i class="fas fa-share"></i></button>
        </div>

    </div>
  

     <footer class="footer">
        <div class="footer__flex">
            <div class="footer__text">
                <h2>Made with <span>< /></span> by Lomesh</h2>
            </div>
            <div class="footer__social">
                <a href="https://github.com/lomesshh"><i class="fab fa-github fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/lomesshh/"><i class="fab fab fa-linkedin fa-2x"></i></a>
                <a href="https://twitter.com/lomesshh"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
        </div>
    </footer>

</body>
</html>