<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Shoemall | Wishlist</title>
</head>
<body>

    <nav class="nav product-nav">
        <img class="nav__logo" src="./images/logo.png" alt="logo-img"/>
        <div class="nav__option">
            <div class="nav__short">
                <i class="fas fa-bars"></i>
            </div>
            <ul>
                <li><a href="../index.html"><button class="nav__option-login"><i class="fas fa-door-open"></i> Logout</button></a></li>
                <li><a href="wishlist.html"><p><i class="fas fa-heart"></i> Wishlist</p></a></li>
                <li><a href="cart.html"><p><i class="fas fa-shopping-cart"></i> Cart</a></p>
                </li>
            </ul>
        </div>
    </nav>     


    <div class="wishlist">

        <div class="wishlist__heading">
            <i class="fas fa-heart"></i>
            <h1>My Wishlist</h1>
        </div>

        <div class="product__list-grid wishlist__grid">
                
            <div class="product__list-card">
                <div class="product__card-image">
                    <img src="images/product8.png" alt="product-image"/>
                </div>
                <div class="product__card-info">
                    <h3>Nike Airmax - 9000</h3>
                    <p>this is demo text just for explaination lol hahahah</p>
                    <div class="product__card-heart">
                        <h3>₹ 6000</h3>
                        <h2><i class="fas fa-heart"></i></h2>
                    </div>
                    <button>move to cart</button>
                </div>
            </div>

            <div class="product__list-card">
                <div class="product__card-image">
                    <img src="images/product15.png" alt="product-image"/>
                </div>
                <div class="product__card-info">
                    <h3>Nike Airmax - 9000</h3>
                    <p>this is demo text just for explaination lol hahahah</p>
                    <div class="product__card-heart">
                        <h3>₹ 6000</h3>
                        <h2><i class="fas fa-heart"></i></h2>
                    </div>
                    <button>move to cart</button>
                </div>
            </div>

            <div class="product__list-card">
                <div class="product__card-image">
                    <img src="images/product7.png" alt="product-image"/>
                </div>
                <div class="product__card-info">
                    <h3>Nike Airmax - 9000</h3>
                    <p>this is demo text just for explaination lol hahahah</p>
                    <div class="product__card-heart">
                        <h3>₹ 6000</h3>
                        <h2><i class="fas fa-heart"></i></h2>
                    </div>
                    <button>move to cart</button>
                </div>
            </div>

            <div class="product__list-card">
                <div class="product__card-image">
                    <img src="images/demo1.png" alt="product-image"/>
                </div>
                <div class="product__card-info">
                    <h3>Nike Airmax - 9000</h3>
                    <p>this is demo text just for explaination lol hahahah</p>
                    <div class="product__card-heart">
                        <h3>₹ 6000</h3>
                        <h2><i class="fas fa-heart"></i></h2>
                    </div>
                    <button>move to cart</button>
                </div>
            </div>

            <div class="product__list-card">
                <div class="product__card-image">
                    <img src="images/product9.png" alt="product-image"/>
                </div>
                <div class="product__card-info">
                    <h3>Nike Airmax - 9000</h3>
                    <p>this is demo text just for explaination lol hahahah</p>
                    <div class="product__card-heart">
                        <h3>₹ 6000</h3>
                        <h2><i class="fas fa-heart"></i></h2>
                    </div>
                    <button>move to cart</button>
                </div>
            </div>

            <div class="product__list-card">
                <div class="product__card-image">
                    <img src="images/product16.png" alt="product-image"/>
                </div>
                <div class="product__card-info">
                    <h3>Nike Airmax - 9000</h3>
                    <p>this is demo text just for explaination lol hahahah</p>
                    <div class="product__card-heart">
                        <h3>₹ 6000</h3>
                        <h2><i class="fas fa-heart"></i></h2>
                    </div>
                    <button>move to cart</button>
                </div>
            </div>

            <div class="product__list-card">
                <div class="product__card-image">
                    <img src="images/product11.png" alt="product-image"/>
                </div>
                <div class="product__card-info">
                    <h3>Nike Airmax - 9000</h3>
                    <p>this is demo text just for explaination lol hahahah</p>
                    <div class="product__card-heart">
                        <h3>₹ 6000</h3>
                        <h2><i class="fas fa-heart"></i></h2>
                    </div>
                    <button>move to cart</button>
                </div>
            </div>

            <div class="product__list-card">
                <div class="product__card-image">
                    <img src="images/product12.png" alt="product-image"/>
                </div>
                <div class="product__card-info">
                    <h3>Nike Airmax - 9000</h3>
                    <p>this is demo text just for explaination lol hahahah</p>
                    <div class="product__card-heart">
                        <h3>₹ 6000</h3>
                        <h2><i class="fas fa-heart"></i></h2>
                    </div>
                    <button>move to cart</button>
                </div>
            </div>

            <div class="product__list-card">
                <div class="product__card-image">
                    <img src="images/product13.png" alt="product-image"/>
                </div>
                <div class="product__card-info">
                    <h3>Nike Airmax - 9000</h3>
                    <p>this is demo text just for explaination lol hahahah</p>
                    <div class="product__card-heart">
                        <h3>₹ 6000</h3>
                        <h2><i class="fas fa-heart"></i></h2>
                    </div>
                    <button>move to cart</button>
                </div>
            </div>


        </div>
    </div>


  

     <footer class="footer">
        <div class="footer__flex">
            <div class="footer__text">
                <h2>Made with <span>< /></span> by Lomesh</h2>
            </div>
            <div class="footer__social">
                <a href="https://github.com/lomesshh"><i class="fab fa-github fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/lomesshh/"><i class="fab fab fa-linkedin fa-2x"></i></a>
                <a href="https://twitter.com/lomesshh"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
        </div>
    </footer>

</body>
</html>